<spa-home>
    <mat-toolbar>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
        </button>
        <span>Apenas prática</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    

    <table >
        <thead>
            <tr>
                <td>Nome</td>
            <td>Estado</td>
                <td>População</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cidades of cidade">
                <td>{{cidades.name}}</td>
                <td>{{cidades.state}}</td>
                <td>{{cidades.citzens}}</td>
            </tr>
        </tbody>
    </table>
</spa-home>